{% extends "account/base_account.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
{% trans "个人中心" as title %}
{{ block.super }}
{% endblock head_title %}

{% block reg_form %}
<div class="uk-panel uk-panel-box" id="reg_login_panel">
	<h2 class="uk-heading-divider uk-h2-se">登录</h2>
    {% if messages %}
	<div id="msg" class="uk-alert-primary" uk-alert>
		<a class="uk-alert-close" uk-close></a>
		<h4>信息：</h4>
		<div id="errmsg">
			<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>							
		</div>
	</div>
	{% endif %}
	<div class="uk-alert-primary" uk-alert>
		如果你没有我们网站的帐号，请点击<a href="{% url 'account_signup' %}"><b>注册</b></a>帐号。
	</div>
	<div class="uk-width-5-6">
		<form class="uk-form uk-form-stacked" method="POST" action="{% url 'account_login' %}">
		  {% csrf_token %}
			<div class="uk-margin">
				<label class="uk-form-label" for="{{ form.login.id_for_label}}">用户名/邮箱：</label>
				<div class="uk-form-controls">
					<input class="uk-input uk-form-width-medium" id="login" name="login" type="text" autofocus="autofocus" placeholder="" required id="id_login">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="{{ form.password.id_for_label }}">密码：</label>
				<div class="uk-form-controls">
					<input class="uk-input uk-form-width-medium" id="password" name="password" type="password" placeholder="" required id="id_password">
				</div>								
			</div>
			<div class="uk-margin">
				<label><input class="uk-checkbox" type="checkbox" id="id_remember" name="remember"> 记住我的登陆信息</label>
			</div>
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<div class="uk-margin-medium-top">
				<button class="uk-button uk-button-default" type="submit">登录</button>
				<a class="uk-button uk-button-default" href="{% url 'account_reset_password' %}">忘记密码？</a>
			</div>
			{% get_providers as socialaccount_providers %}
			{% if socialaccount_providers %}
			<div class="uk-margin">
				<h4>可以使用下列第三方帐号进行登陆：</h4>
				<div class="uk-panel">
				  <ul class="uk-subnav uk-subnav-divider">
					{% include "account/provider_list.html" with process="login" %}
				  </ul>									
				</div>
			</div>
			{% providers_media_js %}
			{% endif %}			
		</form>
	</div>
</div>
{% endblock %}
{% block js_code %}
<script type="text/javascript">
$(document).ready(function(){
    $("#reg").click(function(){
        $.ajax({
            url:"{% url 'account_signup' %}",
            type:"GET",
            data:{},
            contentType:"application/x-www-form-urlencoded; charset=utf-8",
            dataType:"html",
            success:function(httpdata){
                //alert(httpdata);
                htmldt=JSON.parse(httpdata);
                $("#reg_login_panel").empty();
                document.getElementById("reg_login_panel").innerHTML = htmldt.html;
					//add click function to captcha image
            },
			error:function(){
				alert('请求有误');
			} 
        });
    });
/*   
   $("#signup").click(function(){
   		$.ajax({
   			url:"{% url 'account_signup' %}",
   			type:"POST",
   			data:
   			
    });
*/

    $(document).on("click", "#captcha", function(){
			//console.log('click');
			$.getJSON("/captcha/refresh/", function(result){
			 $(".captcha").attr('src', result['image_url']);
			 $("#id_captcha_0").val(result['key']);
			 $("#id_captcha_1").val('');
			 $("#captch_msg").empty();
			});                		
    }); //Click function
    
    //add auto checking function for captcha when blur
    $(document).on("blur", "#id_captcha_1", function(){
			json_data={
				'response':$('#id_captcha_1').val(),
				'hashkey':$('#id_captcha_0').val()
			}
			$.getJSON("{% url 'user:ajax_val' %}", json_data, function(data){ //ajax发送            
				$("#captch_msg").empty();
				if(data['status']){ //status返回1为验证码正确， status返回0为验证码错误， 在输入框的后面写入提示信息
					document.getElementById("captch_msg").innerHTML = '<label class="uk-form-label" hidden></label><div class="uk-alert-primary" id="captcha_status" uk-alert>验证码正确</div>'
				}else{
					document.getElementById("captch_msg").innerHTML = '<label class="uk-form-label" hidden></label><div class="uk-alert-danger" id="captcha_status" uk-alert>验证码错误</div>'
				}
			}); //getJSON               		
    }); //Blur function
    
    $(document).on("click", "#signup", function(){
    
   			csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
    		username = $('#id_username').val();
    		password1 = $('#id_password1').val();
    		password2 = $('#id_password2').val();
    		mbu_email = $('#id_mbu_email').val();
    		first_name = $('#id_first_name').val();
    		last_name = $('#id_last_name').val();
			
			json_data={
				'csrfmiddlewaretoken': csrfmiddlewaretoken,
				'username':username,
				'password1':password1,
				'password2':password2,
				'mbu_email':mbu_email,
				'first_name':first_name,
				'last_name':last_name
			}
			
			$.ajax({
            url:"{% url 'account_signup' %}",
            type:"POST",
            data:json_data,
            //contentType:"application/x-www-form-urlencoded; charset=utf-8",
            dataType:"html",
            success:function(httpdata){
                htmldt=JSON.parse(httpdata);
                $("#reg_login_panel").empty();
                document.getElementById("reg_login_panel").innerHTML = htmldt.html;
            	},
				error:function(){
					alert('请求有误');
				} 
        	});
     });
});
</script>
{% endblock js_code %}
