{% load i18n %}
{% load staticfiles %}
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="My Blog Website">
<meta name="author" content="William Wang">
<link rel="icon" href="../../favicon.ico">
<title>{{ title|safe }}</title>
<!-- uikit core css -->
<link href="https://cdn.bootcss.com/uikit/3.0.0-beta.40/css/uikit.css" rel="stylesheet">
<!-- Own CSS -->
<link href="{% static 'css/theme_n.css' %}" rel="stylesheet">
<!-- TreeMenu CSS -->
<link href="{% static 'css/jquery-accordion-menu.css' %}" rel="stylesheet">
<!--font-awesome-->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<!--<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
<!-- Bootstrap core JavaScript-->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- holder.js -->
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
<!-- lazyload img -->
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<!--vue-->
<script src="{% static 'js/vue.js' %}"></script>
<!-- uikit js -->
<script src="https://cdn.bootcss.com/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
<script src="https://cdn.bootcss.com/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
<!-- TreeMenu js -->
<script src="{% static 'js/jquery-accordion-menu.js' %}"></script>
</head>
<body>
<div class="uk-panel uk-panel-box" id="reg_login_panel">
	<h2 class="uk-heading-divider uk-h2-se">{% trans "Sign Up" %}</h2>
    {% if messages %}
	<div id="msg" class="uk-alert-primary" uk-alert>
		<a class="uk-alert-close" uk-close></a>
		<h4>信息：</h4>
		<div id="errmsg">
			<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>							
		</div>
	</div>
	{% endif %}
	<div class="uk-alert-primary" uk-alert>
		如果你已经注册了我们网站的帐号，请点击<a href="{{ login_url }}"><b>登陆</b></a>。
	</div>
	<div class="uk-width-5-6">
		<!--<form class="uk-form uk-form-stacked" id="signup_form" method="post" action="{% url 'account_signup' %}">-->
		<form class="uk-form uk-form-stacked" id="signup_form">
			{% csrf_token %}
 			<div class="uk-margin">
				{{ form.username.errors }}
				<label class="uk-form-label" for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
				<div class="uk-form-controls">{{ form.username }}</div>
			</div>
			<div class="uk-margin">
				<div class="uk-container" uk-grid>
					<div class="uk-panel uk-width-1-2">
						{{ form.password1.errors }}
						<label class="uk-form-label" for="{{ form.password1.auto_id }}">{{ form.password1.label }}</label>
						<div class="uk-form-controls">{{ form.password1 }}</div>								
					</div>
					<div class="uk-panel uk-width-1-2">
						{{ form.password2.errors }}
						<label class="uk-form-label" for="{{ form.password2.auto_id }}">{{ form.password2.label }}</label>
						<div class="uk-form-controls">{{ form.password2 }}</div>							
					</div>
				</div>
			</div>
			<div class="uk-margin">
				{{ form.mbu_email.errors }}
				<label class="uk-form-label" for="{{ form.mbu_email.auto_id }}">{{ form.mbu_email.label }}</label>
				<div class="uk-form-controls">{{ form.mbu_email }}</div>
			</div>
			<div class="uk-margin">
				<div class="uk-container" uk-grid>
					<div class="uk-panel uk-width-1-3">
						{{ form.last_name.errors }}
						<label class="uk-form-label" for="{{ form.last_name.auto_id }}">{{ form.last_name.label }}</label>
						<div class="uk-form-controls">{{ form.last_name }}</div>									
					</div>
					<div class="uk-panel uk-width-2-3">
						{{ form.first_name.errors }}
						<label class="uk-form-label" for="{{ form.first_name.auto_id }}">{{ form.first_name.label }}</label>
						<div class="uk-form-controls">{{ form.first_name }}</div>								
					</div>
				</div>
			</div>
			<div class="uk-margin">
				<div class="uk-container" uk-grid>
					<div class="uk-panel uk-width-2-3">
					   <label class="uk-form-label">验证码</label>
						<div class="uk-form-controls">
							<img src="{{ captcha.image_url }}" alt="captcha" class="captcha" id="captcha" style="width:80px;height:35px;cursor:pointer"/>&nbsp;&nbsp;
							<input class="uk-input uk-form-width-small" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" id="id_captcha_1" name="captcha_1" type="text" placeholder="Code" />
							<input id="id_captcha_0" name="captcha_0" type="hidden" value="{{ captcha.hashkey }}" />
						</div>
					</div>
					<div class="uk-panel uk-width-1-3" id="captch_msg"></div>
				</div>
			</div>
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<div class="uk-margin-medium-top">
				<button class="uk-button uk-button-default" id="signup">{% trans "Sign Up" %}</button>
				<button class="uk-button uk-button-default">重置</button>
			</div>
		</form>
	</div>
</div>
</body>
</html>
<script type="text/javascript">

$(document).ready(function(){
	// using jQuery
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
				    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				    break;
				}
			}
		}
		return cookieValue;
	}
	
	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
		    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		        xhr.setRequestHeader("X-CSRFToken", csrftoken);
		    }
		}
	});

	$("#signup").click(function(){
		//csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
		username = $('#id_username').val();
		password1 = $('#id_password1').val();
		password2 = $('#id_password2').val();
		mbu_email = $('#id_mbu_email').val();
		first_name = $('#id_first_name').val();
        last_name = $('#id_last_name').val();
        captcha_1 = $('#id_captcha_1').val();
		captcha_0 = $('#id_captcha_0').val();
		

		json_data={
			//'csrfmiddlewaretoken': csrfmiddlewaretoken,
			'username':username,
			'password1':password1,
			'password2':password2,
			'mbu_email':mbu_email,
			'first_name':first_name,
			'last_name':last_name,
			'captcha_0':captcha_0,
			'captcha_1':captcha_1
		}

		json_data = JSON.stringify(json_data);
		
		$.ajax({
			url:"{% url 'account_signup' %}",
			type:"POST",
			data:json_data,
            contentType:false,
            processData:false,
			//contentType:'application/json;charset=UTF-8',
			//contentType:"application/x-www-form-urlencoded; charset=utf-8",
			dataType:"json",
			success:function(httpdata){
//			    htmldt=JSON.parse(httpdata);
//			    $("#reg_login_panel").empty();
//			    document.getElementById("reg_login_panel").innerHTML = htmldt.html;
				alert("ok");
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
	//              $("#p_test").innerHTML = "there is something wrong!";
				alert(XMLHttpRequest.status);
				alert(XMLHttpRequest.readyState);
				alert(textStatus);
			}
		});
	});
});
</script>
