{% extends "common/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block top_navbar %}
<div class="tm-toolbar uk-clearfix uk-visible@s" xmlns="http://www.w3.org/1999/html">
	<div class="uk-float-left">
		<div class="uk-panel">
			<ul class="uk-subnav uk-subnav-divider" uk-margin>
				<li><a href="#">地图</a></li>
				<li><a href="#">日志</a></li>
				<li><a href="#">关于</a></li>
			</ul>
		</div>
	</div>
	{% if user.is_authenticated %}
	<div class="uk-float-right">
		<div class="uk-panel">
			<ul class="uk-subnav uk-subnav-divider" uk-margin>
				<li>你好，<a href="#">{{ username }}</a></li>
				<li><a href="{% url 'account_email' %}">修改邮箱</a></li>
				<li><a href="{% url 'account_logout' %}">登出</a></li>
			</ul>
		</div>
	</div>
	{% else %}
	<div class="uk-float-right">
		<div class="uk-panel">
			<ul class="uk-subnav uk-subnav-divider">
				<li>你好，欢迎来到我的网站！</li>
				<li><a href="{% url 'account_login' %}">个人中心</a></li>
			</ul>
		</div>
	</div>
	{% endif %}
</div>
{% endblock top_navbar %}

{% block content %}
<article class="uk-article tm-article han-init-context" id="{{ post_detail.mbp_id }}">
	<h1 class="uk-article-title">{{ post_detail.mbp_title }}</h1>
    <div class="uk-margin">
        <div class="uk-container" uk-grid>
            <div class="uk-panel uk-width-2-3">
                <ul class="uk-subnav uk-subnav-divider uk-article-meta uk-vertical-align-middle">
                    <li>作者：<a href="#" title="{{ post_detail.mbp_auther }}">{{ post_detail.mbp_auther }}</a></li>
                    <li>时间：<time datetime="{{ post_detail.mbp_created_at|date:'Y-m-d' }}">{{ post_detail.mbp_created_at|date:"Y-m-d" }}</time></li>
                    <li>分类：<a href="{% url 'category' post_detail.mbp_category.mbc_id %}" rel="category">{{ post_detail.mbp_category }}</a></li>
                    <li>评论：<a href="#" rel="comment">{{ post_detail.post_static.mbp_s_comments|default:0 }} 份</a></li>
                </ul>
            </div>
            <div class="uk-panel uk-width-1-3">
                <ul class="uk-subnav uk-subnav-divider">
                    {% for t in post_detail.get_all_tags %}
                        {% if forloop.first %}
                            <li>标签：<a href="{% url 'tag' t.0 %}">{{ t.1 }}</a></li>
                        {% else %}
                            <li><a href="{% url 'tag' t.0 %}">{{ t.1 }}</a></li>
                        {% endif %}
                    {% empty %}
                        <li>标签：无</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
	<div class="uk-flex-top" uk-grid>
		<div class="uk-width-medium-1-1">
			<div class="uk-panel uk-context-body">
			{{ post_detail.body|safe }}
			</div>
		</div>
	</div>
</article>
<article class="uk-article tm-article" id="commentform">
    <h2 class="uk-panel-title">评论</h2>
    <hr>
    <div uk-grid>
    {% if is_authed %}
        <div class="uk-width-1-5">
            <div class="uk-width-auto uk-margin-small-top">
                <img src="{% static 'images/default-avatar.jpg' %}" style="width:80px;height:80px;">
            </div>
            <h4 class="uk-comment-title"><a class="uk-link-reset" href="#">{{ username }}</a></h4>
        </div>
        <div class="uk-width-4-5" style="padding-left: 0px">
            <form class="uk-form uk-form-stacked" method="Post" id="comment_form" action="{% url 'articles:newcomment' %}">
                {% csrf_token %}
                <div class="uk-container uk-grid-collapse">
                    <div class="uk-panel uk-width-1-1">
                        {{ form.mbc_content.errors }}
                        <div class="uk-form-controls">{{ form.mbc_content }}</div>
                    </div>
                </div>
                <div class="uk-form-controls">
                    <input id="mbc_auther" name="mbc_auther" type="hidden" value="{{ username }}" />
                    <input id="mbc_post_id" name="mbc_post_id" type="hidden" value="{{ post_detail.mbp_id }}" />
                    <input id="mbc_auther_id" name="mbc_auther_id" type="hidden" value="{{ u_id }}" />
                    <input id="mbc_reply_id" name="mbc_reply_id" type="hidden" value="" />
                </div>
                <div class="uk-margin-small-top uk-align-right">
                    <input class="uk-button uk-button-default" type="button" id="comment" value="提交">
                </div>
            </form>
        </div>
    {% else %}
        <div class="uk-width-1-1">
                本站<a href="{{ login_url }}" class="uk-link-reset">登录</a>后方可评论。
        </div>
    {% endif %}
    </div>
    <hr>
    <div class="uk-width-1-1 uk-margin">
        <ul class="uk-comment-list" id="commentdetail"></ul>
    </div>
    <div class="uk-width-1-1 uk-margin">
        <ul class="uk-pagination uk-flex-center">
            <li class="" id="left_li"><span uk-icon="chevron-left" onclick="loadcomment(null,'left')"></span></li>
            <li>
                <div id="comment_page">
                    <span class="uk-text-middle">当前第1页/共5页</span>
                </div>
                <input id="page_id" name="page_id" type="hidden" value="1" />
                <input id="page_nums" name="page_nums" type="hidden" value="1" />
            </li>
            <li class="" id="right_li"><span uk-icon="chevron-right" onclick="loadcomment(null,'right')"></span></li>
        </ul>
    </div>
</article>
{% endblock content %}

{% block post_category %}
<div class="uk-panel uk-panel-box">
	<h3 class="uk-panel-title">分类</h3>
	<hr>
	<div id="jquery-accordion-menu" class="jquery-accordion-menu grey">
		<ul id="category-list">
			<li class="active"><a href="{% url 'articles:index' %}">MyBlog</a></li>
			{% for c in category_navbar %}
				{% if c.has_child %}
					<li><a href="#">{{ c.mbc_name }}</a>
						<ul class="submenu">
						{% for s in c.get_all_children %}
							<li><a href="{{ s.get_absolute_url }}">{{ s.mbc_name }}</a><span class="uk-badge jquery-accordion-menu-label">{{ s.get_post_nums_by_category }}</span></li>
						{% endfor %}
						</ul>
					</li>
				{% else %}
					<li><a href="{{ c.get_absolute_url }}">{{ c.mbc_name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock post_category %}

{% block body %}
{% trans "uk-width-3-4" as left_side_width %}
{% trans "uk-width-medium-1-4" as right_side_width %}
{{ block.super }}
{% endblock body %}
{% block js_code %}
<script type="text/x-jsrender" id="commentTemplate">
    <div class="uk-comment uk-visible-toggle">
        <header class="uk-comment-header uk-position-relative">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img src="{% static 'images/default-avatar.jpg' %}" style="width:60px;height:60px;">
                </div>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#"><%:auther%></a></h4>
                    <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#"><%:created_at%></a></p>
                </div>
            </div>
            <div class="uk-position-top-right uk-position-small uk-hidden-hover"><button class="uk-button uk-button-default" onclick="set_reply('<%:comment_id%>')">回复</button></div>
        </header>
        <div class="uk-comment-body">
            <p><%>content%></p>
        </div>
        <hr>
    </div>
</script>
<script type="text/x-jsrender" id="NoneCommentTemplate">
<div class="uk-comment uk-visible-toggle">
    <header class="uk-comment-header uk-position-relative">
        <h4 class="uk-comment-title uk-margin-remove">目前暂时没有评论。</h4>
    </header>
</div>
</script>
<script type="text/javascript">
$.views.settings.delimiters("<%", "%>");
//自定义JS中字符串格式化方法
String.prototype.Format=function (arg) {
    //console.log(this,arg); //this,当前调用方法的字符串，arg为Format方法传入的参数
    //return '666'; //return，格式化之后获取的新内容，return啥就替换为啥
    var temp = this.replace(/\{(\w+)\}/g,function (k,kk) {
        // k相当于{(\w+)},kk相当于(\w+)要替换的东西,arg一般是一个字典
        return arg[kk];
    });
    return temp;
};

$(function(){
    //call sidebar category generator
    jQuery("#jquery-accordion-menu").jqueryAccordionMenu();

    $("img.lazy").lazyload({effect:"fadeIn"}
    					   /*{threshold: 180}*/
    					   /*{placeholder:"holder.js/180x180?text=Default Image"}*/
    					   /*{skip_invisible:true}*/
    					  );

	//列表项背景颜色切换
	$("#category-list li").click(function(){
		$("#category-list li.active").removeClass("active");
		$(this).addClass("active");
	});

    loadcomment(1);

	$("#comment").click(function(){
	    let content = $("#id_mbc_content").val();
	    let auther = $("#mbc_auther").val();
	    let auther_id = $("#mbc_auther_id").val();
	    let post_id = $("#mbc_post_id").val();
	    let reply_id = $("#mbc_reply_id").val();
	    let json_data = {
	        'content': content,
	        'auther': auther,
            'auther_id': auther_id,
            'post_id': post_id,
            'reply_id': reply_id,
        };
	    $.ajax({
            type: "POST",
            url: "{% url 'articles:newcomment' %}",
            data: $("#comment_form").serialize(),
            dataType: "json",
            success:function (data) {
                if(data['status']) {
                    $("#id_mbc_content").val("");
                    $("#mbc_reply_id").val("");

                    loadcomment(1);
                } else {
                    console.log("Comment Update Error");
                }
            }
	    })
    });
});

function loadcomment() {
    //发送Ajax请求，获取所有评论的信息
    //列表
    let cpageid = parseInt($('#page_id').val());
    let tpages = parseInt($('#page_nums').val());
    let pageid =  arguments[0] ? arguments[0] : cpageid;
    let method = arguments[1] ? arguments[1] : "";
    if (method==="left") {
        pageid = (pageid-1>0) ? pageid-1 : 1;
    } else if (method==="right") {
        pageid = (pageid+1<=tpages) ? pageid+1 : tpages;
    } else {
        pageid = cpageid;
    }
    let json_data = {'post_id': '{{ post_detail.mbp_id }}', 'page_id': pageid};
    $('#commentdetail').empty();
    $('#comment_page').empty();
    //JS生成结构
    //var token=$.cookie('csrftoken');
    $.getJSON("{% url 'articles:commentdetail' %}", json_data, function(arg){
            //arg = JSON.parse(arg);
            let nums = arg.nums;
            let pages = arg.pages;
            let curr_page = arg.curr_page;
            let comment = "";
            let comment_string = "";
            let comment_page_string = "";

            if (arg.status){
                if (nums>0) {
                    comment=commentTree(arg.data);
                    comment_string = comment.substr(0,comment.length-10);
                } else {
                    comment_string = $("#NoneCommentTemplate").render();
                }
                $('#commentdetail').append(comment_string);

                $('#page_id').val(curr_page);
                $('#page_nums').val(pages);

                comment_page_string = "<span class=\"uk-text-middle\">当前第" + curr_page + "页/共" + pages + "页</span>";
                $('#comment_page').append(comment_page_string)

            }else {
                console.log(arg.msg);
            }
    });

    return false;
}

//多级评论递归函数,js函数里面也有return,自己写js字符串格式化
//pyhton中字符串的方法都是str下的,js中是String.prototype下找的
function commentTree(commentList) {
    // var comment_str="<div class='comment'>";
    var comment_str = "";
    $.each(commentList,function (k,row) {
        comment_str += "<li>";
        var c_id = row.mbc_id;
        var auther = row.mbc_auther;
        var created_at = row.mbc_created_at;
        var content ="{mbc_content}".Format({mbc_content:row.mbc_content});
        var json_data = {"comment_id": c_id, "auther": auther, "created_at": created_at, "content": content};
        var html = $("#commentTemplate").render(json_data);
        comment_str += html;
        if (row.child.length>0){
            comment_str += "<ul>";
            comment_str += commentTree(row.child);
        }else{
            comment_str += "</li>";
        }
    });
    comment_str += '</ul></li>';
    return comment_str
}

function set_reply(c_id) {
    $('#mbc_reply_id').val(c_id);
    document.getElementById("commentform").scrollIntoView(true);
    //let dd = document.getElementById("commentform");
    //document.forms[0].scrollIntoView();
    document.getElementById("id_mbc_content").focus();
}
</script>
{% endblock js_code %}