{% extends "articles/base.html" %}

{% load staticfiles %}
{% load blog_tags %}

{% block head_title %}{% show_head title %}{% endblock head_title %}
<!-- Carousel slide -->
{% block ad_slides %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img data-src="holder.js/1140x150/auto/#777:#555/text:First slide" alt="First slide">
			<div class="carousel-caption">
				<h3>First slide label</h3>
				<p>Here is the comment for 1st slide.</p>
			</div>
		</div>
		<div class="item">
			<img data-src="holder.js/1140x150/auto/#666:#444/text:Second slide" alt="Second slide">
			<div class="carousel-caption">
				<h3>Second slide label</h3>
				<p>Here is the comment for 2nd slide.</p>
			</div>
		</div>
		<div class="item">
			<img data-src="holder.js/1140x150/auto/#555:#333/text:Third slide" alt="Third slide">
			<div class="carousel-caption">
				<h3>Third slide label</h3>
				<p>Here is the comment for 3rd slide.</p>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
{% endblock ad_slides %}
<!-- End of Carousel slide -->

{% block site_info_bar %}
<div class="alert alert-info" role="alert">
	Hello everyone! Welcome to <a href="#" class="alert-link">William's Blog</a>, hope you will enjoy here!
</div>
{% endblock site_info_bar %}

{% block post_summary %}
	{% for p in PostList %}
		{% if forloop.counter|divisibleby:2 %}
			{% show_post_right %}
		{% else %}
			{% show_post_left %}
		{% endif %}
	{% endfor %}
{% endblock post_summary %}

{% block page_nav %}
<div align="center">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li>
				<a href="{% url 'articles:postpage' 1 %}" aria-label="First"><span aria-hidden="true">&laquo;</span></a>
			</li>
			{% if PostList.has_previous %}
			<li>
				<a href="{% url 'articles:postpage' PostList.previous_page_number %}" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
			</li>
			{% else %}
			<li class="disabled">
				<span aria-hidden="true">&lsaquo;</span>
			</li>
			{% endif %}
			
			{% for p in post_page_navbar.page %}
				{% if p.1 == 1 %}
				<li class="active"><span>{{ p.0 }} <span class="sr-only">(current)</span></span></li>
				{% elif p.0 != 0 %}
				<li>
					<a href="{% url 'articles:postpage' p.0 %}">{{ p.0 }}</a>
				</li>

				{% endif %}
			{% endfor %}
			
			{% if PostList.has_next %}							
			<li>
				<a href="{% url 'articles:postpage' PostList.next_page_number %}" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
			</li>
			{% else %}
			<li class="disabled">
				<span aria-hidden="true">&rsaquo;</span>
			</li>
			{% endif %}
			<li>
				<a href="{% url 'articles:postpage' post_page_navbar.last_page %}" aria-label="Last">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
cat_id: {{ cid }}
{% endblock page_nav %}
{% block post_category %}
	<div class="panel panel-default sidebar-1">
		<div class="panel-heading">
			<div class="col-xs-1 sidebar_title">
				<span class="glyphicon glyphicon-list"></span>
			</div>
			<div style="padding-left:25px"><b>Post Category</b></div>
		</div>				    
	</div>
	<div id="category_tree"></div>
{% endblock post_category %}

{% block post_archives %}{% get_post_archives %}{% endblock post_archives %}
{% block tags_cloud %}{% get_tags_cloud %}{% endblock tags_cloud %}

{% block post_category_js %}
<script>
$(function() {
    var json =  {% autoescape off %}{% get_category_list_sidebar %}{% endautoescape %};

var $tree = $('#category_tree').treeview({
          color: "#4b4c4c",
          /*expandIcon: "glyphicon glyphicon-stop",
          collapseIcon: "glyphicon glyphicon-unchecked",
          nodeIcon: "glyphicon glyphicon-user",*/
          enableLinks: true,
          selectedBackColor: "#eeeeee",
          selectedColor: "#36454f",
          showTags: true,
          data:json})
})
</script>
{% endblock post_category_js %}

