{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
	{% show_head title %}
	</head>
	<body data-spy="scroll" data-target="#myScrollspy">
	<!-- Fixed navbar -->
	{% show_top_navbar %}
	<!-- End of Fixed navbar -->
    <div class="container theme-showcase" role="main">
		<!-- Carousel slide -->
		{% block ad_slides %}
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img data-src="holder.js/1140x150/auto/#777:#555/text:First slide" alt="First slide">
					<div class="carousel-caption">
						<h3>First slide label</h3>
						<p>Here is the comment for 1st slide.</p>
					</div>
				</div>
				<div class="item">
					<img data-src="holder.js/1140x150/auto/#666:#444/text:Second slide" alt="Second slide">
					<div class="carousel-caption">
						<h3>Second slide label</h3>
						<p>Here is the comment for 2nd slide.</p>
					</div>
				</div>
				<div class="item">
					<img data-src="holder.js/1140x150/auto/#555:#333/text:Third slide" alt="Third slide">
					<div class="carousel-caption">
						<h3>Third slide label</h3>
						<p>Here is the comment for 3rd slide.</p>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		{% endblock ad_slides %}
		<!-- End of Carousel slide -->
		<!-- Navbars -->
		{% get_category %}
		<!-- End of Navbars -->
		<div class="nav">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Python</a></li>
				<li class="active">Django</li>
			</ol>
		</div>
		<!-- Post Start -->
		<div class="row">
			<div class="col-sm-9">
				<!-- Info Panel -->
				<div class="alert alert-info" role="alert">
				  Hello everyone! Welcome to <a href="#" class="alert-link">William's Blog</a>, hope you will enjoy here!
				</div>
				<!-- End of Info Panel -->
				{% block post_summary %}
				{% for p in PostList %}
					{% if forloop.counter|divisibleby:2 %}
						{% show_post_right %}
					{% else %}
						{% show_post_left %}
					{% endif %}
				{% empty %}
				<!-- if there is no post, show the below sample -->
				<div class="row blog-row" id="section-1">
					<div class="col-sm-9 blog-post-list">
						<div class="blog-post-title">
							<p class="title">This is the first post of myblog!</p>
						</div>					
						<div class="blog-post-datetime-auther">
							<a href="#" class="btn btn-default btn-xs disabled" role="button">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 2018-1-21
							</a>
							<a href="#" class="btn btn-default btn-xs disabled" role="button">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Admin
							</a>
							<a href="#" class="btn btn-default btn-xs disabled" role="button">
								<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> comment <span class="badge">0</span>
							</a>
						</div>
						<div class="post-content">
							<p>
							Welcome to myblog! Here is my first site developed and maintained all by myself. I will record my thought, my experiences, my emotion and everything here. If you like it, you can share with your friends, otherwise if you have any ideas, please bring them to me. Nice to meet with you here! <a href="#" class="btn btn-default btn-xs" role="button"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a> 
							</p>
						</div>
						<div class="post-tags-left">
							<a href="#" class="btn btn-success btn-xs" role="button">Myblog</a>
						</div>
						<div>
							<p>
								<hr>
							</p>
						</div>
					</div>
					<div class="col-sm-3 thumbnail-2">
						<div class="thumbnail">
							<a href="#" alt="The first post">
								<img data-src="holder.js/155x155" class="post-img" alt="post image">
							</a>
							<div class="caption text-center">
								<h5>First Post</h5>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Sample -->
				{% endfor %}
				{% endblock post_summary %}
				{% block page_nav %}
				<!-- Page navigation -->
				<div align="center">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li>
								<a href="{% url 'articles:postpage' post_page_navbar.first_page %}" aria-label="First"><span aria-hidden="true">&laquo;</span></a>
							</li>
							{% if post_page_navbar.pre_page != 0 %}
							<li>
								<a href="{% url 'articles:postpage' post_page_navbar.pre_page %}" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
							</li>
							{% else %}
							<li class="disabled">
								<span aria-hidden="true">&lsaquo;</span>
							</li>
							{% endif %}
							
							{% for p in post_page_navbar.page %}
								{% if p.1 == 1 %}
								<li class="active"><span>{{ p.0 }} <span class="sr-only">(current)</span></span></li>
								{% elif p.0 != 0 %}
								<li><a href="{% url 'articles:postpage' p.0 %}">{{ p.0 }}</a></li>
								{% endif %}
							{% endfor %}
							
							{% if post_page_navbar.next_page != 0 %}							
							<li>
								<a href="{% url 'articles:postpage' post_page_navbar.next_page %}" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
							</li>
							{% else %}
							<li class="disabled">
								<span aria-hidden="true">&rsaquo;</span>
							</li>
							{% endif %}
							<li>
								<a href="{% url 'articles:postpage' post_page_navbar.last_page %}" aria-label="Last">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- End of Page navigation -->
				{% endblock page_nav %}
			</div>
			{% block post_navbar %}
			<!-- Affix navbar -->
			<!--
			<div class="col-sm-1 nav-affix" id="myScrollspy">
				<ul class="nav nav-tabs nav-stacked" data-spy="affix"  data-offset-top="125">
					<li><a href="#section-1" role="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">第一部分</a></li>
					<li><a href="#section-2">第二部分</a></li>
					<li><a href="#section-3">第三部分</a></li>
					<li><a href="#section-4">第四部分</a></li>
					<li><a href="#section-5">第五部分</a></li>
					<li><a href="#section-6">第六部分</a></li>
					<li><a href="#section-7">第七部分</a></li>
					<li><a href="#section-8">第八部分</a></li>
					<li><a href="#s9">第九部分</a></li>
					<li><a href="#section-10">第十部分</a></li>
				</ul>
			</div>
			-->
			<!-- End of Affix navbar -->
			{% endblock post_navbar %}
			<!-- Right side bar -->
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="col-xs-1" style="padding-left:5px;">
						    <span class="glyphicon glyphicon-log-in"></span>
						</div>
						<div style="padding-left:35px"><b>Login Form</b></div>
					</div>
					<div class="panel-body">		
				<!-- Login Form -->
						<form class="form-horizontal">
						<!-- Username -->
							<div class="form-group" align="center">
								<!--<label for="inputUsername" class="col-sm-2 control-label sr-only">Username</label>-->
								<div class="col-xs-7 input-group input-group-sm">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
									<input type="username" class="form-control" id="inputUsername" placeholder="Username">
								</div>
							</div>
						<!-- Password -->
							<div class="form-group" align="center">
								<!--<label for="inputPassword" class="col-sm-2 control-label sr-only">Password</label>-->
								<div class="col-xs-7 input-group input-group-sm">
									<span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
									<input type="password" class="form-control" id="inputPassword" placeholder="Password">
									<span class="input-group-btn">
										<button class="btn btn-default input-group-btn-2" type="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
									</span>
								</div>
							</div>
						</form>
				<!-- End of Login Form -->
					</div>
				</div> <!--  End login block -->
				<div class="panel panel-default sidebar-1">
					<div class="panel-heading">
						<div class="col-xs-1" style="padding-left:5px;">
						    <span class="glyphicon glyphicon-list"></span>
						</div>
						<div style="padding-left:35px"><b>Post Category</b></div>
					</div>				    
				</div>
				<div id="category_tree"></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="col-xs-1" style="padding-left:5px;">
						    <span class="glyphicon glyphicon-tags"></span>
						</div>
						<div style="padding-left:35px"><b>Tags Cloud</b></div>
					</div>
					<div class="panel-body">		
						<p>
							<a href="#" class="btn btn-success btn-sm" role="button">Python</a>
							<a href="#" class="btn btn-info btn-lg" role="button">Django</a>
							<a href="#" class="btn btn-warning" role="button">Celery</a>					
							<a href="#" class="btn btn-primary btn-xs" role="button">Node.js</a>
						</p>
						<p>
							<span class="label label-default">Default</span>
							<span class="label label-primary">Primary</span>
							<span class="label label-success">Success</span>
							<span class="label label-info">Info</span>
						</p>
						<p>
							<span class="label label-warning">Warning</span>
							<span class="label label-danger">Danger</span>
						</p>
					</div>
				</div>
				<div class="panel panel-default sidebar-1">
					<div class="panel-heading">
						<div class="col-xs-1" style="padding-left:5px;">
						    <span class="glyphicon glyphicon-list"></span>
						</div>
						<div style="padding-left:35px"><b>Post Archives</b></div>
					</div>				    
				</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h5 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
		The first level
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        The second level
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        The third level
      </div>
    </div>
  </div>
</div>
				
			</div>
		</div>
	  <!-- above is ok -->
      <div class="page-header">
      </div>
      <div class="well">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div> <!-- /container -->
	{% include 'common/footjs.html' %}
<script>
$(function() {
    var json =  {% autoescape off %}{% get_category_list_sidebar %}{% endautoescape %};

var $tree = $('#category_tree').treeview({
          color: "#4b4c4c",
          /*expandIcon: "glyphicon glyphicon-stop",
          collapseIcon: "glyphicon glyphicon-unchecked",
          nodeIcon: "glyphicon glyphicon-user",*/
          enableLinks: true,
          selectedBackColor: "#eeeeee",
          selectedColor: "#36454f",
          showTags: true,
          data:json})
})
</script>
  </body>
</html>
