{% load blog_tags %}
<html>
<head>
{% show_head title %}
</head>
<body>

{% show_top_navbar %}

<br>

{% get_category %}

<br>
{{ readme }}

{% if request.user.is_authenticated %}
{{ request.user }}
{% else %}
Not login!!!!
{% endif %}

<br>


{% for p in PostList %}
<br>
{% endfor %}

				

<div id="category_tree" class=""></div>


{% include 'common/footjs.html' %}
<script>
$(function() {
    var json =  {% autoescape off %}{% get_category_list_sidebar %}{% endautoescape %};

var $tree = $('#category_tree').treeview({
          color: "#428bca",
          expandIcon: "glyphicon glyphicon-stop",
          collapseIcon: "glyphicon glyphicon-unchecked",
          /*nodeIcon: "glyphicon glyphicon-user",*/
          showTags: true,
          data:json})
})
</script>
</body>
</html>
