{% load staticfiles %}
<div class="uk-navbar-container">
	<nav class="tm-navbar uk-navbar" uk-navbar="mode: click">
		<div class="uk-navbar-left">
			<a href="{% url 'articles:index' %}" class="uk-navbar-item tm-logo">
				<img src="{% static 'images/logo.png' %}" width="120" height="40" alt="William's Blog">
			</a>
			<ul class="uk-navbar-nav uk-visible@m">
				{% for c in category_navbar %}
					{% if c.has_child %}
				<li class="uk-parent">
					<a href="{{ c.get_absolute_url }}">{{ c.mbc_name }}</a>
					<div class="uk-navbar-dropdown uk-dropdown uk-dropdown-width-small uk-dropdown-bottom" uk-dropdown>
						<div class="uk-grid uk-dropdown-grid" uk-grid>
							<div class="uk-width-1-1">
								<ul class="uk-dropdown-nav uk-nav uk-nav-navbar">
									{% for s in c.get_all_children %}
									<li><a href="{{ s.get_absolute_url }}">{{ s.mbc_name }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</li>
					{% else %}
				<li><a href="{{ c.get_absolute_url }}">{{ c.mbc_name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="uk-navbar-right uk-navbar-content uk-padding-remove uk-hidden@m">
			<a class="tm-logo-small uk-float-left" href="#"><span uk-navbar-toggle-icon></span></a>
		</div>
	</nav>
</div>
