{% load staticfiles %}
<!-- Bootstrap core JavaScript-->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>-->
<script src="https://cdn.bootcss.com/popper.js/1.13.0/esm/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- holder.js -->
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
<!-- bootstrap treeview addon -->
<script src="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
