			<div class="uk-panel uk-panel-box">
				<h3 class="uk-panel-title">标签</h3>
				<hr>
				<div class="uk-width-1-1" uk-margin>
				{% for t in tags %}
					<div class="uk-button-group" style="margin:3px">
						<a href="{{ t.get_absolute_url }}" class="uk-button uk-button-default tag-font">{{ t.mbt_name }}</a>
						<a href='#' class="uk-button uk-button-default tag-font uk-disabled" style="width:35px">{{ t.mbt_count }}</a>
					</div>
				{% empty %}
					<div class="uk-button-group" style="margin:3px">
						<a href='#' class="uk-disabled uk-button uk-button-default tag-font">无标签</a>
					</div>
				{% endfor %}
				</div>
			</div>
