			<div class="uk-panel uk-panel-box">
				<h3 class="uk-panel-title">归档</h3>
				<hr>
				<div style="margin-left:5px;margin-right:5px;">
				{% for counter in year_month_number %}
				{% ifchanged counter.0 %}
				{% if not forloop.first %}
				</ul></li></ul>
				{% endif %}
					<ul class="uk-nav uk-nav-parent-icon uk-nav-side" uk-nav>
						<li class="uk-parent">
							<a href="#" class="0">{{ counter.0 }}</a>
							<ul class="uk-nav-sub">
				{% endifchanged %}
								<li><a href="{% url 'montharchive' counter.0 counter.1 %}" class="">{{ counter.2 }}</a></li>
				{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
