<div class="tm-toolbar uk-clearfix uk-visible@s">
	<div class="uk-float-left">
		<div class="uk-panel">
			<ul class="uk-subnav uk-subnav-divider" uk-margin>
				<li><a href="#">地图</a></li>
				<li><a href="#">日志</a></li>
				<li><a href="#">关于</a></li>
			</ul>
		</div>
	</div>
	<div class="uk-float-right">
		<div class="uk-panel">
			<ul class="uk-subnav uk-subnav-divider" uk-margin>
				{% if is_authed %}
				<li>你好，<a href="#">{{ username }}</a></li>
				<li><a href="{% url 'account_email' %}">修改邮箱</a></li>
				<li><a href="{% url 'account_logout' %}">登出</a></li>
				{% else %}
				<!--<li><a href="{% url 'account_signup' %}">注册</a></li>-->
                <li>你好，欢迎来到我的网站！</li>
				<li><a href="{% url 'account_login' %}">个人中心</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
