body {
  padding-top: 50px;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 3px 0;
}

.theme-showcase .navbar .container {
  width: 80%;
}

.navbar {
	margin-bottom:0;
}

.blog-row {
  padding-top: 80px;  
  margin-top: -45px;
}

.blog-post-list {
  padding-left:5px;
  padding-right:5px;
}

.blog-post-title {
	padding-left:10px;
	font-size:1.875em;
	font-weight:bold;
}

.blog-post-datetime-auther {
	padding-top:0px;
	padding-left:10px;
	padding-bottom:5px;
}
.post-content {
	font-size:1.125em;
	line-height:160%;
	padding-left:10px;
}
.post-tags-left {
  margin-top:2px;
  margin-bottom:2px;
  text-align:left;
  margin-left:10px;
}

.post-tags-right {
  margin-top:2px;
  margin-bottom:2px;
  text-align:right;
  margin-right:10px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.post-img {
    align:center;
}

hr {
  border:"1 dashed #987cb9";
  width=80%
  color=#987cb9;
  size=1;
}

.input-control {
	width:60%;
}

.input-group-addon-2 {
	padding-left:6px;
	padding-right:6px;
}

.input-group-btn-2 {
	padding-left:6px;
	padding-right:6px;
}


.thumbnail-2 {
	padding-top:10px;
}

p.title {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom:3px;
}

.nav-affix {
    padding:0px;
}
ul.nav-tabs{
	width: 100px;
	margin: 0;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
	border-top: none;
}
ul.nav-tabs li a{
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
	color: #fff;
	background: #0088cc;
	border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a{
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
	border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
	top: 120px; /* Set the top position of pinned element */
}


/*new
ul.nav-pills{
	width: 100px;
}
ul.nav-pills.affix{
	top: 100px; 
}*/
